.header {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #161a1d;
  padding: 0 10%;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.2rem;
  border: 1px solid transparent;
  transition: 0.5s ease;
  padding: 5px 10px;
  color: #fff;
}

.header a:hover,
.header a:active,
.header a.active {
  background-color: #fff;
  color: #000;
}

.header i {
  color: #fff;
  display: none;
  align-items: baseline;
}
/*미디어쿼리*/
@media only screen and (max-width: 1248px) {
  .header {
    z-index: 99;
    position: absolute;
    flex-direction: column;
    height: 100vh;
    width: 150px;
    left: -250px;
    justify-content: space-evenly;
    transition: 0.5s ease;
    align-items: center;
    padding: 0;
  }

  .logo {
    font-size: 0.9rem;
  }

  .header i {
    z-index: 99;
    position: absolute;
    display: block;
    top: 10px;
    left: 260px;
    font-size: 1.5rem;
  }

  .header nav ul {
    flex-direction: column;
    width: 100px;
    align-items: center;
  }

  .toggle {
    left: 0px !important;
  }

  .header nav ul li {
    margin: 20px 5px;
  }

  .header nav ul li a {
    font-size: 0.9rem;
    padding: 2px;
  }

  ul li.active a {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
  }
}
